/* You can add global styles to this file, and also import other style files */
h1{
color: azure;
padding-bottom: 2%;
padding-left: 3%;
font-size: 6vh;
}




textarea {
    background-color: rgba(4, 24, 43, 0.226);
    border: 1px solid rgb(199, 230, 255);
    color: #ebebeb;
    padding-bottom: 5%;
    padding: 1px;
    width: 100%;
    resize: none;
    font-family: courier new;
}



h5{
    color: azure;
    font-size: 4vh;
    padding-bottom: 2%;
    }

label{
color: azure;
font-size: 2.2vh;
}
body{
background-color: #252529;
}
.form-control{
background-color: #404047;
font-size: 2.2vh;
color:azure;
}

.form-control:focus{
background-color: #323238dc;
color:azure;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(194, 205, 207, 0.6);
}

.modal-content{
    background-color:  #252529;
 }

 .modal-content{
    color:azure;
 }

.modal-body{
text-align: center;
vertical-align: middle;
align-items: center;
font-size: 3vh;
}

.btn-primary:disabled{
    background-color: #2971afc2;
}

.form-control:disabled{
    background-color: #32323857;
    color:rgb(114, 126, 126);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 44, 44, 0.192);
    }

tr{
color: azure;
}

.close{
    color: azure;
    }

::placeholder{
    color: #7c7c8893;
}

.thumbnail {
    position: relative;
    display: inline-block;
    transform: translate( 0%, -0% );
    padding: 5%;
    max-width: 300px;
    max-height: 300px;
    height:auto;
    z-index: 1;
}

.thumbnail:hover{
    cursor: pointer;
}

.module {
    position: relative;
    text-align: center;
    cursor: pointer;
    color: #eee;
    padding-bottom: 100px;
    max-height: 600px;
    min-width: 350px;
    background-color:transparent;
    border-radius: 2px;
  }

.btn{
    position: relative;
    text-align: center;
    max-height: auto;
    font-size: 3.8vh;
    max-width: 350px;
}

.thumbnail-mini {
    position: relative;
    display: inline-block;
    transform: translate( 0%, -0% );
    padding: 5%;
    max-width: 55px;
    max-height: 55px;
    height:auto;
    z-index: 1;
}



  .module:hover {
    background-color:  #2c2c3171;
    cursor: pointer;
    color: #607d8b;
  }
 
 